<!-- <!DOCTYPE html>
<html ng-app = "gridModule">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Angular Grid</title>
<h2>Patton Labs</h2>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.css" />
<script  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.js"></script>
<script type="text/javascript" src ="controller.js"></script>

<link rel="stylesheet" type="text/css" href= "style.css">

</head>

<body>
<div ng-controller= "gridCtrl">

 <div id="grid1" ui-grid-pagination class="grid" ui-grid ="gridOpts"></div> <br><br>
 
		<form>
			<table>
				<tr class = "row1">
					<td colspan="6"><b>Employee Details</b></td>
				</tr>
				<tr>
					<td><b>First Name</b></td>
					<td><input type="text" id="fname" ng-model="fname"></td>
				</tr>
				<tr>
					<td><b>Last Name</b></td>
					<td><input type="text" id="lname" ng-model="lname"></td>
				</tr>
				<tr>
					<td><b>ID</b></td>
					<td><input type="text" id="id" ng-model="id"></td>
				</tr>
				<tr>
					<td><b>Gender</b></td>
					<td><input type="text" id="status" ng-model="gender"></td>
				</tr>
				<tr>
					<td><b>Phone No</b></td>
					<td><input type="text" id="phno" ng-model="phno"></td>
				</tr>
				<tr>
					<td><b>Email</b></td>
					<td><input type="text" id="email" ng-model="email"></td>
				</tr>
				</table> <br><br>
		
		<button type="button"  ng-click="addRow()">Add Data</button>
		<button type="reset" value="Reset">Reset</button> <br><br>
		
		</form>
 	<br><br>

		
		
		

	</div>
</body>
</html> -->